<div class="container mt-6 d-flex flex-column align-items-center justify-content-center">
    <div class="row justify-content-center">
      <h1 class="text-center">About Malla Reddy Clothing</h1>
    </div>
    <div class="container text-center"> <!-- Updated class here -->
      <img src="../assets/picture/logo-removebg-preview.png" alt="Logo" width="250" height="300">
    </div>
    <p>Welcome to Malla Reddy Clothing, your one-stop destination for trendy and fashionable clothing for all occasions.</p>
    <p>At Malla Reddy Clothing, we believe in providing high-quality and comfortable apparel that suits your style and makes you feel confident.</p>
    <p>Explore our extensive collection of clothing items, including men's, women's, and kids' wear, as well as accessories and footwear.</p>
    <p>Shop with us and stay up-to-date with the latest fashion trends!</p>
  </div>
  