 <header>
  <nav class="navbar navbar-expand-lg navbar-light fixed-top p-0 ">
  <div class="container-fluid m-1 justify-content-center">
      <a >
        <img src="../assets/picture/whitelogo-removebg-preview.png" alt="Logo" width="150" height="100">
      </a>
</div>
</nav>

  <nav class="navbar navbar-expand-lg navbar-light fixed-top p-0 " style="margin-top: 100px;height: 30px;" >
        <div class="container-fluid">
      <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
        <ul class="navbar-nav m-2">
          <li class="nav-item ">
            <a class="nav-link m-3" routerLink="/home"><h4>Home</h4></a>
          </li>
          <li class="nav-item">
            <a class="nav-link m-3" routerLink="/products"><h4>Products</h4></a>
          </li>
          <li class="nav-item">
            <a class="nav-link m-3" routerLink="/cart"><h4>cart</h4></a>
          </li>
          <li class="nav-item">
            <a class="nav-link m-3" routerLink="/info"><h4>info</h4></a>
          </li>
        </ul>
      </div>
</div>


  </nav>

</header>

<main style="margin-top: 130px;">

  <router-outlet></router-outlet>
</main>

<footer class=" text-center py-3 mt-5 text-white" style="background-color: #24308D;">
  <div class="container-fluid p-4  ">
    <div class="row mt-4">
      <div class="col-lg-6 col-md-6 mb-4 mb-md-0">
        <img src="../assets/picture/logofooter.jpeg" padding-top="2px" height="100px" width="200px" alt="image">
        <h1>MALLA REDDY UNIVERSITY</h1>
        <p>
          ​(As per Telangana State Private Universities Act No.13 of 2020 and G.O.Ms.No.14,  Higher Education (UE) Department)
        </p>
        </div>
 
        <div class="col-lg-6 col-md-6 mb-4 mb-md-0">
          <h2>SOCIALIZE WITH US!
          </h2>
          <a type="button" class="btn btn-floating btn-transparent btn-lg" href="https://www.facebook.com/MallaReddyUniversity/"><img src="../assets/picture/fb.webp" alt="1"></a>
          <a type="button" class="btn btn-floating btn-transparent btn-lg" href="https://www.instagram.com/mallareddyuniversity/?hl=en"><img src="../assets/picture/in.webp" alt="2"></a>
          <a type="button" class="btn btn-floating btn-transparent btn-lg" href="https://www.youtube.com/channel/UCQ3p6CZhNku1Uwbn5r505zg"><img src="../assets/picture/yt.webp" alt="3"></a>
          <a type="button" class="btn btn-floating btn-transparent btn-lg" href="https://twitter.com/mallauniversity?lang=en"><img src="../assets/picture/t.webp" alt="4"></a>
    
        </div>
      </div>

    </div>
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2020 Copyright:
    <a class="text-white" href="https://www.mallareddyuniversity.ac.in/">mallareddyunivsity.com</a>
  </div>
 </footer>

 
